@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap');
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto Mono', sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f4f2de;
  border-bottom: 1.6rem solid #7c9d96;
  min-height: 100vh;
  padding: 3.2rem;
  padding-bottom: 6rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.header {
  align-self: stretch;
}

.header h1 {
  color: #a1ccd1;

  text-transform: uppercase;
  text-align: center;
  font-size: 5.2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.header h1::before,
.header h1::after {
  display: block;
  content: '';
  height: 3px;
  width: 4rem;
  background-color: #a1ccd1;
  position: absolute;
  top: calc(50% - 1px);
}

.header h1::before {
  left: 0;
}

.header h1::after {
  right: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.main h2 {
  display: inline-block;
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  text-decoration: dashed;
}

a {
  color: #252525;
  text-decoration: none;
}

a:hover {
  color: #a1ccd1;
  text-decoration: underline;
}
.main > p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  width: 80%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f2de;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9b384;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e9b384;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 40rem; */
  gap: 1.2rem;
}

.form-control {
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  border: none;
  position: relative;
}

.form-control label,
.form-control-image label,
.form-control-image p,
.form-control-country label {
  /* flex-basis: 40%; */
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
}

.form-control input,
.form-control select {
  /* flex-basis: 60%; */
  height: 3rem;
}
.form-control-image {
  display: flex;
  border: none;
  gap: 1.2rem;
}

.preview {
  display: flex;
  width: 20rem;
  gap: 1.2rem;
  height: 20rem;
}
.preview img {
  width: 100%;
}

/* input type file  */
input[type='file'] {
  width: 120px;
}

.form-control-image img {
  border: #252525 1px solid;
}
.form-control-image p {
  font-size: 1.5rem;
  font-weight: 400;
}
.suggestion {
  border-bottom: #252525 1px solid;
}

.selected {
  background-color: #e9b384;
}

.suggestions {
  font-family: 'Helvetica', 'Comic Sans', serif;
  list-style: none;
  height: 20rem;
  overflow-y: scroll;
}

.form-control-country span {
  text-align: right;
  margin-top: 3px;
}
.form-control-country {
  display: flex;
  border: none;
}

.form-control-country label {
  margin-right: 1.2rem;
}
.form-control-country input {
  max-height: 3rem;
}

fieldset p {
  color: red;
}

.form-control-submit {
  margin: 0 auto;
}
.form-control-submit button {
  font-size: 2rem;
  padding: 1rem 4rem;
  border: none;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  background: #a1ccd1;
}

.password-strength {
  position: absolute;
  top: 35px;
  left: 165px;
}

.form-submits {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-data {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.form-data h3 {
  text-align: center;
}
.form-data ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 10px;
  gap: 1.2rem;
}

.form-object {
  border: #a1ccd1 1px solid;
}
.form-data img {
  width: 240px;
  height: 240px;
}

.last-added {
  border: 3px solid #252525;
  animation: removeBorder 5s forwards;
}

@keyframes removeBorder {
  to {
    border: #a1ccd1 1px solid;
  }
}
