@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css');

.footer {
  background-color: #7c9d96;
  padding: 20px;
  padding-bottom: 5px;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

.contacts-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-item a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.contact-item i {
  margin-right: 5px;
}
